<%- include('partials/head.ejs', { title: `Viewing "${board.title}"` }) %>
<body>
    <nav>
        <div class="site-wrapper">
            <div class="account-info">
                <div class="account-info-text">
                    <p class="display-name"><%= user.display_name %></p>
                    <a href="/logout">Sign out</a>
                </div>
            </div>
            <div class="action-buttons">
                <button class="alt" @click:eval="new_task_modal.showModal()">New task</button>
            </div>
        </div>
    </nav>

    <div class="site-wrapper">
        <% board.tasks.forEach(task => { %>
            <li><%= task.title %></li>
        <% }) %>
    </div>

    <div id="modals">
        <dialog id="new_task_modal">
            <form method="post" action="/api/tasks" type="json" name="board_create_task_form">
                <input type="text" name="task_name" id="task-name" placeholder="Task name">
                <textarea name="task_note" placeholder="Note"></textarea>
                <input type="hidden" name="board_id" value="<%=board.share_id%>">

                <div class="button-wrapper">
                    <button type="reset" class="alt btn-icon btn-icon-discard-changes" @click:eval="new_task_modal.close()">Discard changes</button>
                    <button type="submit" class="btn-icon">Create task</button>
                </div>
            </form>
        </dialog>
    </div>
</body>
<%- include('partials/footer.ejs') %>